.rinputs {
  background-color: #fcfeff;

  &__box {
    background: #fdb417;
    padding: 2rem 3rem;
    border-radius: 20px;

    &--item {
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        border-radius: 5px;
        width: 100%;
        margin: 10px 0;
        border: 0;
        outline: 0;
        padding: 10px 20px;

        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 168% */

        color: #000000;

        text-align: center;
        &::placeholder {
          font-family: "Lato";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          /* identical to box height, or 168% */

          color: #898989;
        }
      }
    }
  }
}

.progressbar {
  background-color: #fcfeff;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: #fcfeff;
    border: 2px solid #fdb417;
    border-radius: 20px;
    padding: 2rem 3rem;

    &--item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      span {
        background: #d9d9d9;
        padding-left: 20px;
        width: 50px;
        border-radius: 50%;
        height: 50px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 50px;
        color: #89969f;
      }

      p {
        padding: 10px 0;
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #89969f;
      }
    }

    &--item.active {
      span {
        background: #fdb417;
        color: #ffffff;
      }

      p {
        line-height: 19px;
        color: #000000;
      }
    }
  }
}

.results {
  background-color: #fcfeff;

  &__contant {
    &__button {
      padding: 0px 20px;
      background: #ffffff;
      border: 1px solid #ececec;
      border-radius: 5px;
      margin-bottom: 4rem;

      &__group {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        overflow-x: auto;
        list-style: none;
        justify-content: space-between;

        li {
          display: inline-block;
          margin: 8px 3px 0px 3px;
          cursor: pointer;
          position: relative;
          padding: 15px;
          transition: 0.3s ease;
          display: flex;
          align-items: center;
          font-family: "Lato";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 29px;
          letter-spacing: -0.02em;
          color: #000000;
          //   border-bottom: 5px solid #004077;
          transition: 0.3s ease-in-out;

          &:hover::after,
          &.active::after {
            position: absolute;
            content: "";
            bottom: 0;
            background: linear-gradient(84deg, #004077 -71.2%, #0077cc 124.92%);
            width: 100%;
            height: 7px;
            left: 0;
            border-radius: 5px 5px 0 0;
          }
        }
      }
    }
  }

  &__item {
    background-color: #fff;
    backdrop-filter: blur(150px);
    box-shadow: $box-shadow;
    border-radius: 10px;
    padding: 2rem 2rem;
    margin: 2rem 0;

    &--first {
      padding: 1.3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #dedede;

      .results__item--left {
        h2 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          letter-spacing: -0.02em;
          color: #000000;
        }

        h4 {
          padding-top: 15px;
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 174.69%;
          color: #000000;
          span {
            padding-right: 20px;
            i {
              font-size: 14px;
              color: #130f26;
              padding-right: 10px;
            }
          }
        }
      }

      .results__item--right {
        h3 {
          font-family: "Lato";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          letter-spacing: -0.02em;
          color: #596771;

          .price {
            font-family: "Lato";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 174.69%;
            color: #000000;
            padding: 0 5px;
          }

          .discount {
            font-family: "Lato";
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 174.69%;
            text-decoration-line: line-through;
            color: #d15455;
          }
        }

        h4 {
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 174.69%;
          letter-spacing: -0.025em;
          text-transform: capitalize;
          color: #898989;
          i {
            font-size: 16px;
            color: #130f26;
            padding-right: 10px;
          }
        }
      }
    }

    &--second {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1.8rem;
      border-bottom: 1px dashed #dedede;

      h5 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 174.69%;
        text-transform: capitalize;
        color: #000000;
        display: flex;
        align-items: center;

        i {
          font-size: 18px;
          padding-right: 8px;
          color: #fdb417;
        }
      }
    }

    &--third {
      display: inline-block;
      float: right;
      padding: 1.5rem;
      button {
        background: linear-gradient(84deg, #004077 -71.2%, #0077cc 124.92%);
        border-radius: 5px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        padding: 15px 35px;
        border: none;
        outline: none;
      }
    }
  }
}

.note {
  background-color: #fcfeff;

  .section__title {
    text-align: left;
    float: left;
    padding-bottom: 20px;

    h1 {
      text-align: left;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 63px;
      letter-spacing: -0.005em;
      color: #000000;
    }
  }

  &__box {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: $box-shadow;

    &--first {
      background-color: #fbfbfb;
      padding: 2rem;
      border-radius: 10px;
      margin: 2rem;
      h2 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 63px;
        /* identical to box height, or 262% */

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.005em;

        color: #000000;
      }
      p {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 63px;
        /* identical to box height, or 450% */

        display: flex;
        align-items: center;
        text-align: center;

        color: #596771;

        span {
          padding-left: 10px;
          color: #000000;
        }
      }
    }

    &--second {
      padding: 0 2rem;
      margin: 2rem;
      h4 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 217%;
        /* or 35px */

        display: flex;
        align-items: center;

        color: #000000;
      }
    }

    &--third {
      background-color: #fbfbfb;
      padding: 2rem;
      border-radius: 10px;
      margin: 2rem 15%;
      text-align: center;

      h2 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 189.5%;
        /* or 30px */

        text-transform: capitalize;

        color: #ff3535;

        i {
          font-size: 18px;
          color: #ff3535;
          padding-right: 10px;
        }
      }

      p {
        padding-top: 10px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 236%;
        /* or 33px */

        display: flex;
        align-items: center;
        text-align: center;

        color: #000000;
      }
    }
  }
}

.testimonial {
  background-color: #fcfeff;

  &__text {
    h5 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.035em;
      text-transform: capitalize;
      color: #0160a9;
      padding-bottom: 15px;
    }

    h1 {
      font-family: "Lato";
      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      line-height: 72px;
      letter-spacing: -0.005em;
      color: #000000;
    }
  }

  &-carousel {
    background-color: #f9f9f9;
    padding: 5rem 2rem 2rem 2rem;
    display: flex;
  }

  &__item {
    background-color: #fff;
    margin: 0 1rem;
    border-radius: 10px;
  }

  &__content {
    background: rgba(255, 255, 255, 0.144);
    backdrop-filter: blur(9.66px);
    border-radius: 9.44186px;
    padding: 15px;
    margin: 15px;
    display: flex;
    align-items: center;

    &--img {
      width: 100%;
      height: auto;
    }

    h2 {
      font-family: "Franklin Gothic Medium Cond";
      font-size: 14.1628px;
      line-height: 100%;
      letter-spacing: 0.590116px;
      color: #000000;
    }

    i {
      font-size: 16px;
      line-height: 16px;
      color: #ffc833;
      margin: 0 2px;
    }

    span {
      font-family: "Lato";
      font-style: normal;
      font-weight: 700;
      font-size: 15.343px;
      line-height: 174.69%;
      /* identical to box height, or 27px */

      letter-spacing: -0.025em;
      text-transform: capitalize;

      color: #000000;
    }

    h6 {
      font-family: "Lato";
      font-style: normal;
      font-weight: 500;
      font-size: 11.8023px;
      line-height: 174.69%;
      /* identical to box height, or 21px */

      letter-spacing: -0.025em;
      text-transform: capitalize;

      color: #000000;

      i {
        padding-right: 8px;
        font-size: 11px;
        line-height: 11px;
        color: #dadada;
        margin: 0 2px;
      }
    }

    h2 {
      font-family: "Lato";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 180%;
      letter-spacing: 0.590116px;
      color: #000000;
    }

    p {
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 189.5%;
      /* or 23px */

      letter-spacing: 0.590116px;

      color: #9098b1;
    }
  }

  .owl-carousel .owl-nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    button {
      background-color: #cadeee;
      margin: 0 20px;
      width: 40px;
      border-radius: 50%;
      height: 40px;

      span {
        font-size: 35px;
        line-height: 90%;
        color: #0160a9;
      }

      &:hover {
        background-color: #0160a9;
        span {
          color: #fff;
        }
      }

      &:nth-child(1) {
        padding: 0 10px !important;
      }
      &:nth-child(2) {
        padding: 0 17px !important;
      }
    }
  }
}

// X-Large devices (large desktops, less than 1400px)
@media only screen and (max-width: 1399.98px) {
  .testimonial {
    &__text {
      h1 {
        font-size: 36px;
        line-height: 42px;
      }
    }

    .testimonial__content h2 {
      font-size: 14px;
      line-height: 150%;
    }
    i {
      font-size: 12px;
      line-height: 12px;
    }

    span {
      font-size: 13px;
      line-height: 150%;
    }

    h6 {
      font-family: "Lato";
      font-style: normal;
      padding-top: 10px;
      font-weight: 500;
      font-size: 11.8023px;
      line-height: 174.69%;
      /* identical to box height, or 21px */

      letter-spacing: -0.025em;
      text-transform: capitalize;

      color: #000000;

      i {
        padding-right: 8px;
        font-size: 11px;
        line-height: 11px;
        color: #dadada;
        margin: 0 2px;
      }
    }

    h2 {
      font-family: "Lato";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 180%;
      letter-spacing: 0.590116px;
      color: #000000;
    }

    p {
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 189.5%;
      /* or 23px */

      letter-spacing: 0.590116px;

      color: #9098b1;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media only screen and (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media only screen and (max-width: 991.98px) {
  .testimonial {
    &__text {
      padding-bottom: 2rem;
      h1 {
        font-size: 40px;
        line-height: 52px;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media only screen and (max-width: 767.98px) {
}

// Extra small devices (portrait phones, less than 576px)
@media only screen and (max-width: 575.98px) {
  .testimonial {
    &__text {
      h1 {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0;
      }
    }

    .testimonial__item {
      box-shadow: 0 0 10px 0 #ccc;
    }
  }

  .testimonial-carousel {
    background-color: transparent;
    padding: 2rem 2rem 0 2rem;
    display: flex;
  }

  .rinputs {
    background-color: #fcfeff;

    &__box {
      background: #fdb417;
      padding: 1rem;
      border-radius: 20px;
    }
  }

  .progressbar__box--item {
    padding: 1rem 0;
  }

  .results__item--first {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .results__item--left {
      padding-bottom: 1rem;
    }

    .results__item--right {
      text-align: center;
      h3 {
        font-size: 18px;
        line-height: 24px;
        &.price {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }

  .results__item--second {
    .item {
      text-align: center;
    }
    h5 {
      display: block;
      align-items: center;
    }
  }

  .results__item--third {
    display: block;
    float: unset;
    text-align: center;
    padding: 1rem;
  }

  .results__contant__button {
    margin-bottom: 1rem;
  }

  .note {
    .section__title {
      h1 {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0;
      }
    }

    &__box {
      &--first {
        padding: 1.5rem;
        margin: 0.5rem;

        h2 {
          font-size: 24px;
          line-height: 30px;
          display: block;
        }
        p {
          line-height: 20px;
          display: block;
        }
      }

      &--second {
        padding: 0 1rem;
        margin: 1rem 0.5rem;
        h4 {
          font-size: 16px;
          line-height: 150%;
          display: block;
        }
      }

      &--third {
        padding: 1rem;
        margin: 2rem 2.5rem;

        border-radius: 10px;
        text-align: center;

        p {
          padding-top: 10px;
          font-family: "Lato";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          /* or 33px */

          display: block;
          align-items: center;
          text-align: center;

          color: #000000;
        }
      }
    }
  }
}
