.extra {
  background-color: #fcfeff;

  &__contant {
    &__button {
      padding: 0px 20px;
      background: #ffffff;
      border: 1px solid #ececec;
      border-radius: 5px;
      margin-bottom: 4rem;

      &__group {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        overflow-x: auto;
        list-style: none;
        justify-content: space-between;

        li {
          display: inline-block;
          margin: 8px 3px 0px 3px;
          cursor: pointer;
          position: relative;
          padding: 15px;
          transition: 0.3s ease;
          display: flex;
          align-items: center;

          font-family: "Lato";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 29px;
          /* identical to box height, or 145% */

          letter-spacing: -0.02em;

          color: #596771;

          &.active,
          &:hover {
            color: #000000;
          }

          &:hover::after,
          &.active::after {
            position: absolute;
            content: "";
            bottom: 0;
            background: linear-gradient(84deg, #004077 -71.2%, #0077cc 124.92%);
            width: 100%;
            height: 7px;
            left: 0;
            border-radius: 5px 5px 0 0;
          }
        }
      }
    }
  }

  &__item {
    background-color: #fff;
    backdrop-filter: blur(150px);
    box-shadow: $box-shadow;
    border-radius: 10px;
    padding: 2rem 2rem;
    margin: 2rem 0;

    &--img {
      img {
        padding: 2rem;
        box-shadow: 0px 11.2941px 14.1176px #f1f4f9;
        border-radius: 14.1176px;
        border: 2px solid #0170c1;
      }
    }

    &--text {
      padding: 2rem 3rem;

      h2 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height, or 121% */

        letter-spacing: -0.02em;

        color: #000000;
      }

      h3 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        /* identical to box height, or 145% */

        letter-spacing: -0.02em;

        color: #596771;

        span.price {
          font-family: "Lato";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 174.69%;
          /* identical to box height, or 35px */

          /* add */

          color: #0077cc;
          padding: 0 10px;
        }

        span.max {
          font-family: "Lato";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 25px;
          /* identical to box height, or 156% */

          letter-spacing: -0.015em;
          text-transform: capitalize;

          color: #596771;
        }
      }

      p {
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        /* identical to box height, or 156% */

        letter-spacing: -0.015em;
        text-transform: capitalize;

        /* main color/gray */

        color: #89969f;
      }
    }

    &--inputs {
    }

    &--input {
      input {
        margin: 1rem 0;
        background: #ffffff;
        border: 1.5px solid #fdb417;
        border-radius: 10px;

        background: #ffffff;
        width: 100%;
        outline: 0;
        padding: 10px 20px;

        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;

        &::placeholder {
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;

          color: #596771;
        }
      }

      #form-number {
        position: relative;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type="number"] {
          -moz-appearance: textfield; /* Firefox */
        }

        label {
          position: absolute;
          top: 50%;
          right: 13px;
          transform: translateY(-50%);
          cursor: pointer;
        }

        .number-input-label {
          display: flex;
          align-items: center;

          .icon-minus {
          }

          .icon-plus {
          }

          .number-bar {
            height: 18px;
            width: 0.5px;
            background-color: rgba(0, 0, 0, 0.15);
            margin: 0 9px;
          }

          .number-input-text {
            p {
              font-size: 12px;
              line-height: 1;
              color: #000;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.pdetails {
  background-color: #fcfeff;

  .section__title {
    text-align: left;
    float: left;
    padding-bottom: 20px;

    h1 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 29px;
      /* identical to box height, or 80% */

      letter-spacing: -0.02em;

      color: #000000;
    }
  }

  &__box {
    padding: 2rem 3rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: $box-shadow;
    padding-right: 10%;

    &--inputs {
      padding: 1rem 2rem;
      input {
        margin: 5px 0;
        background: #ffffff;
        border: 1.5px solid #fdb417;
        border-radius: 10px;

        background: #ffffff;
        width: 100%;
        outline: 0;
        padding: 10px 20px;

        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;

        &::placeholder {
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;

          color: #596771;
        }

        &:focus {
          background: #fdb417;
          color: #fff;
          &::placeholder {
            color: #fff;
          }
        }
      }

      button {
        margin: 0 20px;
        padding: 15px 45px;
        background: linear-gradient(84.89deg, #004077 -68.22%, #0077cc 132.22%);
        border-radius: 10px;
        color: #fff;
        border: none;
        outline: none;
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;

        color: #ffffff;
      }
      p {
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 23px;
        color: #596771;
      }
    }
  }
}

.summary {
  background-color: #fcfeff;

  .section__title {
    text-align: left;
    float: left;
    padding-bottom: 20px;

    h1 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 29px;
      /* identical to box height, or 80% */

      letter-spacing: -0.02em;

      color: #000000;
    }
  }

  &__box {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: $box-shadow;
    padding-right: 10%;

    &--first {
      padding: 2rem;
      margin: 2rem;

      h5 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 16.0952px;
        line-height: 23px;
        color: #344054;
      }

      .summary__box--inputs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        input {
          margin: 5px 0;
          background: #ffffff;
          border: 1.5px solid #fdb417;
          border-radius: 10px;

          background: #ffffff;
          width: 100%;
          outline: 0;
          padding: 10px 20px;

          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: #000000;

          &::placeholder {
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;

            color: #596771;
          }

          &:focus {
            background: #fdb417;
            color: #fff;
            &::placeholder {
              color: #fff;
            }
          }
        }

        button {
          margin: 0 20px;
          padding: 15px 45px;
          background: linear-gradient(
            84.89deg,
            #004077 -68.22%,
            #0077cc 132.22%
          );
          border-radius: 10px;
          color: #fff;
          border: none;
          outline: none;
          font-family: "Lato";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;

          color: #ffffff;
        }
        p {
          font-family: "Lato";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 23px;
          color: #596771;
        }
      }
    }

    &--second {
      padding: 0 2rem;
      margin: 2rem 4rem;
      background: #ffffff;
      border: 1px solid #efefef;
      border-radius: 8px;

      .title {
        border-bottom: 1px solid #dedede;
        padding: 1rem 0 2rem 0;
        margin-bottom: 2rem;
      }

      h2 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #000000;
      }

      .items {
        padding-bottom: 1rem;
        border-bottom: 1px dashed #ebebeb;
      }

      .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p {
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;

          color: #344054;

          .amount {
            font-family: "Lato";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;

            color: #000000;
          }
        }

        &.discount {
          p {
            .amount {
              color: #fdb417;
            }
          }
        }

        &.total {
          padding: 1rem 0;
          p {
            font-family: "Lato";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;

            color: #000000;
            .amount {
              font-family: "Lato";
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 24px;
              /* identical to box height */

              color: #000000;
            }
          }
        }
      }
    }

    &--third {
      padding: 0 2rem;
      margin: 2rem 4rem;
      text-align: center;
      button {
        margin: 0 20px;
        padding: 15px 20%;
        background: linear-gradient(84.89deg, #004077 -68.22%, #0077cc 132.22%);
        border-radius: 10px;
        color: #fff;
        border: none;
        outline: none;
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;

        color: #ffffff;
      }
    }
  }
}

.payment {
  background-color: #fcfeff;

  .section__title {
    text-align: left;
    float: left;
    padding-bottom: 20px;

    h1 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 29px;
      /* identical to box height, or 80% */

      letter-spacing: -0.02em;

      color: #000000;
    }
  }

  &__box {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: $box-shadow;
    padding-right: 10%;

    &--first {
      padding: 2rem;
      margin: 1rem 2rem;

      h3 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #344054;

        padding-bottom: 10px;

        i {
          font-size: 20px;
          color: #0077cc;
          padding-right: 10px;
        }
      }
      img {
        padding: 0 5px;
      }
    }

    &--second {
      padding: 1rem 2rem;
      margin: 1rem 2rem;

      .item {
        padding: 1rem 0;
        h5 {
          font-family: "Lato";
          font-style: normal;
          font-weight: 500;
          font-size: 16.0952px;
          line-height: 23px;
          /* identical to box height, or 143% */

          /* Gray/700 */

          color: #344054;
        }

        input {
          margin: 5px 0;
          background: #ffffff;
          border: 1.5px solid #fdb417;
          border-radius: 10px;

          background: #ffffff;
          width: 100%;
          outline: 0;
          padding: 10px 20px;

          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: #000000;

          &::placeholder {
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;

            color: #596771;
          }

          &:focus {
            background: #fdb417;
            color: #fff;
            &::placeholder {
              color: #fff;
            }
          }
        }
        p {
          font-family: "Lato";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 23px;
          /* identical to box height, or 164% */

          color: #596771;
        }
      }
    }

    &--third {
      padding: 1rem 2rem;
      margin: 1rem 2rem;

      .item {
        label {
          width: 100%;
          font-family: "Lato";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 23px;
          /* identical to box height, or 144% */

          /* Gray/700 */

          color: #344054;
        }

        input {
          margin: 5px 0;
          background: #ffffff;
          border: 1.5px solid #fdb417;
          border-radius: 10px;

          background: #ffffff;
          width: 100%;
          outline: 0;
          padding: 10px 20px;

          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: #000000;

          &::placeholder {
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;

            color: #596771;
          }

          &:focus {
            background: #fdb417;
            color: #fff;
            &::placeholder {
              color: #fff;
            }
          }
        }

        p {
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 23px;
          /* or 164% */

          color: #596771;
        }
      }
    }
    &--fourth {
      padding: 2rem;
      margin: 2rem;

      .paypal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      h4 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 16.0952px;
        line-height: 23px;
        color: #344054;

        i {
          font-size: 20px;
          color: #0077cc;
          padding-right: 10px;
        }
      }

      p {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 16.0952px;
        line-height: 23px;
        /* identical to box height, or 143% */

        /* Gray/500 */
        padding-bottom: 10px;
        color: #667085;
      }

      h3 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 17.2449px;
        line-height: 28px;
        /* identical to box height, or 160% */

        /* Dark/Dark 2 */

        color: #828282;

        i {
          background: #fec751;
          border-radius: 50%;
          font-size: 15px;
          padding: 7px 9px;
          color: #fff;
          margin-right: 10px;
        }
      }
    }
  }
}

// X-Large devices (large desktops, less than 1400px)
@media only screen and (max-width: 1399.98px) {
}

// Large devices (desktops, less than 1200px)
@media only screen and (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media only screen and (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media only screen and (max-width: 767.98px) {
}

// Extra small devices (portrait phones, less than 576px)
@media only screen and (max-width: 575.98px) {
  .pdetails {
    background-color: #fcfeff;

    .section__title {
      text-align: left;
      float: left;
      padding-bottom: 20px;

      h1 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 29px;
        /* identical to box height, or 80% */

        letter-spacing: -0.02em;

        color: #000000;
      }
    }

    &__box {
      padding: 10px;
    }
  }

  .summary {
    &__box {
      padding: 10px;
      border-radius: 10px;
      padding-right: 0%;

      &--first {
        padding: 10px;
        margin: 10px;
        button {
          padding: 15px 10px;
        }
      }

      &--second {
        padding: 0 20px;
        margin: 2rem 20px;
        background: #ffffff;
        border: 1px solid #efefef;
        border-radius: 8px;
      }

      &--third {
        padding: 0 20px;
        margin: 2rem 20px;
      }
    }
  }

  .payment {
    &__box {
      padding: 10px;
      border-radius: 10px;
      padding-right: 0%;

      &--first {
        padding: 10px;
        margin: 10px;
        button {
          padding: 15px 10px;
        }
      }

      &--second {
        padding: 0 20px;
        margin: 2rem 20px;
        background: #ffffff;
        border: 1px solid #efefef;
        border-radius: 8px;
      }

      &--third {
        padding: 0 20px;
        margin: 2rem 20px;
      }

      &--fourth {
        padding: 0 10px;
        margin: 2rem 20px;
      }
    }
  }
}
