.header {
  height: 100vh;
  padding: 1rem 0;
  background-image: linear-gradient(
      rgba($color-black, 0.6),
      rgba($color-black, 0.6)
    ),
    url("../img/header-background.jpg");
  background-position: 50% 53%;
  background-size: cover;
  position: relative;

  .header__main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    &--column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .header__heading--box {
        h1 {
          font-family: "Outfit";
          font-style: normal;
          font-weight: 400;
          font-size: 48px;
          line-height: 171.98%;
          color: #ffffff;
        }

        p {
          font-family: "Lato";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 200%;
          color: #cdcdcd;
        }
      }

      .testimonials {
        position: relative;
        display: flex;
        flex-direction: row;

        .slick-prev.slick-arrow {
          display: none !important;
        }

        .slick-next.pull-right.slick-arrow {
          height: 50px !important;
          min-width: 50px !important;
          border-radius: 50%;
          border: none;
          outline: none;
          background-color: rgba(255, 255, 255, 0.144);
          color: #fff;
          margin-top: 54px;
          transform: none;
        }

        &__item {
          background: rgba(255, 255, 255, 0.144);
          backdrop-filter: blur(9.66px);
          border-radius: 9.44186px;
          padding: 15px;
          margin: 15px;
          display: flex;
          align-items: center;

          &--img {
            width: 100%;
            height: auto;
          }

          h2 {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 14.1628px;
            line-height: 120%;
            color: #ffffff;
          }

          i {
            width: 9px;
            height: 9px;
            font-size: 11px;
            line-height: 11px;
            color: #ffc833;
            margin: 0 2px;
          }

          span {
            padding-left: 10px;
            font-family: "Lato";
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 174.69%;
            letter-spacing: -0.025em;
            text-transform: capitalize;
            color: #676767;
          }

          p {
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 189.5%;
            letter-spacing: 0.590116px;
            color: #9098b1;
            padding-top: 10px;
          }
        }
      }

      .form__container {
        // min-width: 100%;
        width: 400px;
        max-width: 400px;
        margin: 20px;
        float: right;
        padding: 20px;
        background: #febb02;
        border-radius: 10px;

        .form__heading {
          .nav .nav-item .nav-link {
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #ffffff;
            padding-left: 0;
            padding-right: 0;
            transition: all 0.2s;
            border-bottom: 2px solid transparent;
          }

          .nav .nav-item .nav-link.active {
            font-weight: 600;
            font-size: 16px;
            border-bottom: 2px solid #fff;
          }
        }

        .form__inputs {
          width: 100%;
          form {
            width: 100%;
            input {
              background: #ffffff;
              border-radius: 5px;
              width: 100%;
              margin: 10px 0;
              border: 0;
              outline: 0;
              padding: 10px 20px;

              &::placeholder {
                font-family: "Lato";
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                /* identical to box height, or 168% */

                color: #898989;
              }
            }

            button {
              margin-top: 20px;
              padding: 10px 15px;
              width: 100%;
              background: linear-gradient(
                84deg,
                #004077 -71.2%,
                #0077cc 124.92%
              );
              border-radius: 5px;
              color: #fff;
              border: none;
              outline: none;
            }

            .form__select {
              // background: #ffffff;
              border-radius: 5px;
              width: 100%;
              margin: 10px 0;
              border: 0;
              outline: 0;
              padding: 7px 16px;

              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
              /* identical to box height, or 168% */

              // color: #898989;
            }

            #form-date,
            #form-date-two,
            #form-time,
            #form-time-two,
            #form-date-return,
            #form-time-return {
              position: relative;

              .input-button {
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);

                i {
                  color: #dadada;
                }
              }
            }

            #form-time,
            #form-time-return {
              position: relative;

              label {
                position: absolute;
                top: 50%;
                right: 13px;
                transform: translateY(-50%);
                cursor: pointer;
              }

              .form-time-label {
                border: 1px solid #ececec;
                background-color: #fff;
                padding: 0px 6px;
                border-radius: 4px;
                display: flex;
                align-items: center;

                .icon-clock {
                  margin-right: 7px;
                  color: #89969f;

                  i {
                    font-size: 13px;
                  }
                }

                .icon-down-arrow {
                  font-size: 15px;
                  margin-left: 8px;
                  color: #89969f;

                  i {
                    font-size: 13px;
                  }
                }

                .form-time-text {
                  p {
                    font-size: 12px;
                    line-height: 1;
                    margin-bottom: 0;
                    color: #000;
                  }
                }
              }
            }

            #form-number {
              position: relative;

              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }

              input[type="number"] {
                -moz-appearance: textfield; /* Firefox */
              }

              label {
                position: absolute;
                top: 50%;
                right: 13px;
                transform: translateY(-50%);
                cursor: pointer;
              }

              .number-input-label {
                display: flex;
                align-items: center;

                .icon-minus {
                }

                .icon-plus {
                }

                .number-bar {
                  height: 18px;
                  width: 0.5px;
                  background-color: rgba(0, 0, 0, 0.15);
                  margin: 0 9px;
                }

                .number-input-text {
                  p {
                    font-size: 12px;
                    line-height: 1;
                    color: #000;
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media only screen and (max-width: 575.98px) {
}

// Medium devices (tablets, less than 992px)
@media only screen and (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media only screen and (max-width: 1199.98px) {
}

// X-Large devices (large desktops, less than 1400px)
@media only screen and (max-width: 1399.98px) {
  .header {
    height: auto;

    .header__main {
      padding: 3rem 0;
      &--column {
        .header__heading--box {
          h1 {
            font-size: 36px;
            line-height: 1.2;
          }
          p {
            font-size: 16px;
            line-height: 120%;
          }
        }

        .testimonials {
          &__item {
            padding: 10px;
            margin: 10px;

            h2 {
              line-height: 100%;
            }

            p {
              padding-top: 5px;
            }
          }
        }

        .form__container {
          width: 100%;
          padding: 15px;

          .form__heading {
            h1 {
              font-size: 16px;
              line-height: 20px;
            }
          }

          .form__inputs {
            form {
              input {
                margin: 5px 0;
                padding: 5px 20px;

                &::placeholder {
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 20px;
                }
              }

              button {
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media only screen and (max-width: 767.98px) {
  .header {
    height: auto;
    padding: 10px 20px;

    .header__main {
      padding: 5rem 0;
    }
  }
}
