.navigation {
  &__sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding-top: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba($color-grey-dark-2, 0.4);
    animation-name: animate-navigation;
    animation-duration: 0.3s;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__sticky &__main {
    padding-bottom: 0.5rem;

    // Medium devices (tablets, less than 992px)
    @media only screen and (max-width: 991.98px) {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
  &__search-white {
    display: inline-block;
  }

  &__search-black {
    display: none;
  }

  &__sticky &__search-white {
    display: none;
  }

  &__sticky &__search-black {
    display: inline-block;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: baseline;

    // Medium devices (tablets, less than 992px)
    @media only screen and (max-width: 991.98px) {
      display: none;
    }
  }

  &__item {
    padding-top: 1rem;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    display: inline-block;
    padding-bottom: 0.1rem;
    border-bottom: 2.5px solid transparent;
    transition: all 0.2s;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  &__link:hover,
  &__link:active {
    border-bottom: 2.5px solid $color-primary;
  }

  &__sticky &__link:link,
  &__sticky &__link:visited {
    color: #000;
    i {
      color: #000;
    }
  }

  &__open:link,
  &__open:visited,
  &__open:hover,
  &__open:active {
    text-decoration: none;
  }

  &__btn-box {
    // Medium devices (tablets, less than 992px)
    @media only screen and (max-width: 991.98px) {
      display: none;
    }
  }

  &__open-box {
    display: none;

    // Medium devices (tablets, less than 992px)
    @media only screen and (max-width: 991.98px) {
      display: block;
    }
  }

  &__open-icon {
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
  }

  &__sticky &__open-icon {
    color: $color-white;
  }
}

.not__banner {
  .navigation__link:link,
  .navigation__link:visited {
    color: #000 !important;
    i {
      color: #000;
    }
  }
}

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  &__overlay {
    background-color: rgba($color-grey-dark-4, 0.7);
    width: 100%;
    height: 100%;
    z-index: 500;
    transition: all 0.8s;
  }

  &__main {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-grey-dark-4;
    transition: all 1s;
  }

  &__close-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6.5rem;
    padding: 0 2rem;
    border-bottom: 1px solid rgba($color-grey-dark-3, 0.5);
  }

  &__close-icon {
    font-size: 1.3rem;
    color: $color-white;
    cursor: pointer;
  }

  &__nav {
    display: flex;
    flex-direction: column;
  }

  &__btn-box {
    padding: 5rem 2rem 2rem;
    border-bottom: 1px solid rgba($color-grey-dark-3, 0.5);
  }

  &__btn-box .btn {
    display: block;
  }

  &__list {
    list-style: none;
  }

  &__item {
    padding: 1.5rem;
    border-bottom: 1px solid rgba($color-grey-dark-3, 0.5);
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    display: inline-block;
    padding-bottom: 0.1rem;
    border-bottom: 2.5px solid transparent;
    transition: all 0.2s;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  &__link:hover,
  &__link:active {
    border-bottom: 2.5px solid $color-primary;
  }

  &--close {
    // opacity: 0;
    visibility: hidden;
  }

  &--close &__overlay {
    opacity: 0;
  }

  &--close &__main {
    transform: translateX(260px);
  }
}
