section {
  padding: 120px 0;
}

// Medium devices (tablets, less than 992px)
@media only screen and (max-width: 991.98px) {
  section {
    padding: 80px 0px;
  }
}

// Small devices (landscape phones, less than 768px)
@media only screen and (max-width: 767.98px) {
  section {
    padding: 70px 0px;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media only screen and (max-width: 575.98px) {
  section {
    padding: 50px 20px;
  }
}
